<!DOCTYPE html>
<html>
<head>
  <title>Texas</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  </head>
<body>

  <div class="container">
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <% @cities.each do |city| %>
          <li><%= link_to city.capitalize, city %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
